        /*

    Name of project : The Band
    Author          : thuysddoox

    Version         :01
    Date of start   :29/12/2020
    Date of end     :31/12/2020

*/
        /* 
****************      TABLE OF CONTENT     ***********************

    1.  Header
        1.1.    Navigation
        1.2.    Search Button
    2.  SlideShow
    3.  Content
        3.1.  The Band
        3.2.  Tour
        3.3.  Contact
        3.4.  Map
    4.  Footer

*/
        /* ---------------     GENERAL FORMAT     -----------------*/
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        html {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            scroll-behavior: smooth;
        }
        
        .clearfix::after {
            content: "";
            clear: both;
            height: 0;
            line-height: 0;
            visibility: hidden;
            display: block;
        }
        
        #Opacity {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100vw;
            height: 100vh;
            background-color: #333;
            opacity: 0.6;
        }
        /* -------------------     1. HEADER    ------------------------ */
        
        #header {
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            background-color: #333;
            height: 46px;
            font-size: 0px;
            position: fixed;
            z-index: 1;
        }
        
        .col-half {
            width: 50%;
            box-sizing: border-box;
        }
        /* -------------------      1.1. NAVIGATION    ----------------- */
        
        #header #nav {
            list-style-type: none;
        }
        
        #nav>li {
            display: inline-block;
        }
        
        #nav li a {
            display: block;
            height: 46px;
            line-height: 46px;
            text-decoration: none;
            color: white;
            padding: 0px 32px;
            transition: 0.3s all;
            font-size: 16px;
            cursor: pointer;
        }
        
        #nav .subnav a {
            color: #333;
        }
        
        #nav li:hover>a {
            background-color: rgb(152, 149, 149);
            color: black;
        }
        
        #nav a i {
            padding-left: 5px;
        }
        
        #nav li>.subnav {
            display: none;
            position: absolute;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
            background-color: white;
            min-width: 150px;
        }
        /* --------------   BAR BUTTON IN MOBILE AND TABLET  -------------- */
        
        #nav--btn {
            display: none;
            font-size: 16px;
            color: white;
            line-height: 46px;
            height: 46px;
            padding: 0px 24px;
            transition: 0.3s all;
        }
        
        #nav--btn:hover {
            background-color: rgb(152, 149, 149);
            color: black;
        }
        
        @keyframes navPopup {
            from {
                left: -100%;
            }
            to {
                left: 0;
            }
        }
        
        @media screen and (max-width:739px) {
            #header #nav {
                background-color: black;
                display: none;
                z-index: 2;
                position: relative;
                width: 50%;
                animation: navPopup 0.3s linear;
            }
            #nav>li {
                display: block;
            }
            #nav>li a {
                padding-left: 40px;
            }
            #nav--btn {
                display: inline-block;
            }
        }
        
        @media screen and (min-width:740px) {
            #nav {
                display: inline!important;
            }
        }
        /* ------------   1.2.  SEARCH BUTTON   ---------------------- */
        
        @keyframes showsearch {
            from {
                margin-right: -184px;
            }
            to {
                margin-right: 0px;
            }
        }
        
        #header .search--btn {
            float: right;
            height: 46px;
        }
        
        #header .search--btn a {
            display: inline-block;
            font-size: 16px;
            color: white;
            line-height: 46px;
            height: 46px;
            padding: 0px 16px;
            transition: 0.3s all;
            z-index: 1;
            background-color: #333;
        }
        
        #header .search--btn>a:hover {
            color: rgb(184, 9, 9);
        }
        
        #header .search--btn #search--infor {
            display: none;
            padding: 8px 8px 4px 8px;
            z-index: -1;
            outline: none;
            border: 5px solid;
            border-radius: 10px;
            animation: showsearch 0.3s linear;
        }
        /* -------------------   2. SLIDESHOW   -------------------- */
        
        @keyframes opc {
            from {
                opacity: 0.5;
            }
            to {
                opacity: 1;
            }
        }
        
        .slideshow {
            margin-top: 46px;
            position: relative;
            padding-top: 50%;
            background-image: url(/assets/img/chicago.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .slideshow .slideshow--text {
            position: absolute;
            bottom: 50px;
            width: 100%;
            text-align: center;
            color: white;
            text-shadow: 1px 1px 10px rgba(191, 187, 187, 0.6);
            font-weight: 500;
            font-size: 16px;
        }
        
        .slideshow--text h3 {
            padding-bottom: 24px;
            font-size: 24px;
            font-weight: 400;
        }
        
        #chicago {
            display: block;
        }
        
        #newyork {
            display: none;
        }
        
        #losangeles {
            display: none;
        }
        /* ---------------------   3.CONTENT   -----------------------------*/
        /* ------------------    3.1.THE BAND    -------------------- */
        
        .section--content {
            text-align: center;
            max-width: 800px;
            width: 95%;
            margin: auto;
        }
        
        .section--content {
            padding: 64px 16px;
        }
        
        .section--content .content--heading {
            font-size: 36px;
            font-weight: 400;
            text-transform: uppercase;
            margin: 10px 0px;
        }
        
        .section--content .content--sub--heading {
            font-style: italic;
            opacity: 0.6;
            margin: 15px 0px;
        }
        
        #band .band--desc {
            text-align: justify;
            line-height: 1.6;
            font-size: 15px;
            margin: 15px 0px;
        }
        
        #band .band--member--list {
            display: flex;
            justify-content: space-around;
            padding: 32px 0px;
        }
        
        .band--member--list .member {
            width: 33.3333%;
        }
        
        .band--member--list .member img {
            width: 60%;
            min-width: 154px;
            border-radius: 5px;
        }
        
        .member .member--name {
            margin: 15px 0px;
        }
        /* --------------------    3.2. TOUR    ----------------------- */
        
        #tour--section {
            width: 100%;
            background-color: black;
        }
        
        #tour .content--heading,
        #tour .content--sub--heading {
            color: white;
        }
        
        #tour #tour--date--list {
            list-style-type: none;
            color: #333;
            text-align: left;
            font-size: 15px;
            margin-top: 42px;
            display: block;
        }
        
        #tour--date--list li {
            padding: 8px 16px;
            border-bottom: 1px solid #3333;
            background-color: white;
        }
        
        #tour .tour--date--soldout span {
            display: inline-block;
            background-color: rgb(184, 9, 9);
            padding: 4px 4px;
            color: white;
            margin-left: 16px;
        }
        
        #tour .tour--date--stocking span {
            display: inline-block;
            padding: 4px 8px;
            color: white;
            background-color: black;
            border-radius: 50%;
            margin: -4px 16px 0px 0px;
            float: right;
        }
        
        #tour--adress--list {
            display: flex;
            justify-content: space-around;
            margin: 0px -8px;
        }
        
        #tour--adress--list .tour--adress {
            width: 33.333%;
            padding: 32px 8px;
            font-size: 0;
        }
        
        #tour--adress--list .tour--adress img {
            width: 100%;
            transition: all 0.3s;
        }
        
        .tour--adress .tour--adress--text {
            padding: 16px 16px;
            background-color: white;
            font-size: 15px;
            line-height: 1.6;
            text-align: justify;
        }
        
        .tour--adress .tour--adress--name {}
        
        .tour--adress .tour--adress--time {
            color: rgb(142, 140, 140);
            margin-top: 15px;
        }
        
        .tour--adress .tour--adress--desc {
            margin: 15px 0px;
        }
        
        .tour--adress button {
            padding: 12px 16px;
            color: white;
            background-color: black;
            border: none;
            cursor: pointer;
            outline: none;
            font-size: 16px;
            transition: all 0.3s;
        }
        
        .tour--adress img:hover {
            opacity: 0.6;
        }
        
        .tour--adress button:hover {
            color: black;
            background-color: rgb(191, 190, 190);
        }
        /* ---------------- BUY TICKETS FORM    --------------------- */
        
        @keyframes buyPopup {
            from {
                top: -100%;
            }
            to {
                top: 20%;
            }
        }
        
        #buy--ticket {
            display: none;
            width: 80%;
            max-width: 900px;
            margin: auto;
            background-color: white;
            box-shadow: 1px 1px 10px rgba(191, 187, 187, 0.6), 1px 1px 10px rgba(140, 140, 140, 0.6);
            z-index: 2;
            position: fixed;
            top: 20%;
            left: 0;
            right: 0;
            animation: buyPopup 1s linear;
        }
        
        #buy--ticket .title--form {
            background-color: #009688;
            color: white;
            padding: 32px 0px;
            position: relative;
        }
        
        .title--form .name--form {
            font-size: 30px;
            font-weight: 400;
            text-align: center;
        }
        
        .title--form .name--form>i {
            padding: 0px 24px;
        }
        
        .title--form .button--close {
            padding: 16px;
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            transition: all 0.3s;
        }
        
        #buy--ticket--form {
            padding: 0px 16px 16px 16px;
        }
        
        #buy--ticket--form input {
            display: block;
            padding: 8px;
            width: 100%;
            border: 1px rgb(140, 139, 139) solid;
            border-radius: 0;
        }
        
        #buy--ticket--form label {
            margin: 15px 0px;
            display: block;
        }
        
        #buy--ticket--form button {
            margin: 16px 0px;
            border: none;
            transition: 0.3s all;
        }
        
        #buy--ticket--form #pay--btn {
            display: block;
            width: 100%;
            padding: 16px;
            background-color: #009688;
            color: white;
            text-transform: uppercase;
        }
        
        #buy--ticket--form #close--btn {
            color: white;
            background-color: rgb(209, 10, 10);
            padding: 8px 16px;
        }
        
        .title--form .button--close:hover,
        #buy--ticket--form #close--btn:hover,
        #buy--ticket--form #pay--btn:hover {
            color: black;
            background-color: rgb(193, 191, 191);
        }
        
        #buy--ticket--form .help--form {
            float: right;
            margin: 15px 0px;
        }
        
        #buy--ticket--form .help--form a {
            color: rgb(19, 105, 225);
            cursor: pointer;
        }
        /* ---------------------   3.3. #CONTACT    ---------------------*/
        
        #contact #contact--content {
            display: flex;
            justify-content: space-around;
            padding: 32px 0px;
        }
        
        #contact--content #contact--infor {
            list-style-type: none;
            line-height: 1.6;
            text-align: justify;
        }
        
        #contact--content #contact--infor i {
            margin-right: 24px;
        }
        
        #contact--content #contact--infor a {
            opacity: 0.7;
        }
        
        #contact--content #contact--infor a:hover {
            opacity: 1;
        }
        
        #contact--form input {
            padding: 8px;
            margin-bottom: 8px;
            width: 48%;
        }
        
        #contact--form .contact--message {
            width: 100%;
        }
        
        #contact--form .contact--name {
            float: left;
        }
        
        #contact--form .contact--mail {
            float: right;
        }
        
        #contact--form button {
            float: right;
            color: white;
            background-color: black;
            border: none;
            padding: 12px 16px;
            margin: 8px 0px;
            transition: all 0.3s;
            -webkit-appearance: none;
            font-size: 16px;
        }
        
        #contact--form button:hover {
            background-color: rgb(140, 140, 140);
            color: black;
        }
        /* --------------------  3.4. MAP  ----------------------*/
        
        .map {
            width: 100%;
            background-image: url('../img/map.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 60%;
        }
        /* ---------------------  4. FOOTER   ------------------------*/
        
        #footer {
            color: #333;
        }
        
        #footer #contact--icons {
            list-style-type: none;
        }
        
        #contact--icons li {
            display: inline-block;
            cursor: pointer;
        }
        
        #contact--icons a {
            display: inline-block;
            padding: 8px 4px;
            color: #333;
            font-size: 24px;
            opacity: 0.6;
        }
        
        #footer>p>a {
            color: #333;
            opacity: 0.6;
            padding: 8px 0px;
        }
        
        #footer>p>a:hover,
        #contact--icons li:hover a {
            opacity: 1;
        }
        /* -------------------  BOX CHAT    -------------------------*/
        
        @keyframes showMess {
            from {
                bottom: -100%;
            }
            to {
                bottom: 1%;
            }
        }
        
        #boxchat__icon {
            z-index: 1;
            cursor: pointer;
            position: fixed;
            right: 1%;
            top: 90%;
            width: 60px;
            height: 60px;
            font-size: 30px;
            background-color: rgb(29, 117, 240);
            color: white;
            text-align: center;
            border-radius: 5px;
            box-shadow: 1px 1px 10px rgb(123, 122, 122), 1px 1px 10px rgb(206, 204, 204);
        }
        
        #boxchat__icon i {
            line-height: 60px;
        }
        
        #boxchat {
            animation: showMess 0.3s linear;
            display: none;
            width: 40%;
            height: 50%;
            position: fixed;
            bottom: 1%;
            right: 0.5%;
            background-color: white;
            box-shadow: 1px 1px 10px rgb(123, 122, 122), 1px 1px 10px rgb(206, 204, 204);
        }
        
        #boxchat #chat__tab {
            height: 45px;
            line-height: 45px;
            background: black;
            color: white;
        }
        
        #chat__tab .chat__close {
            display: inline-block;
            padding: 0px 16px;
            float: right;
            line-height: 45px;
            height: 45px;
            cursor: pointer;
        }
        
        #chat__tab>i {
            font-size: 24px;
            line-height: 45px;
            height: 45px;
            padding-left: 10px;
        }
        
        #chat__tab .chat__close:hover {
            background-color: rgb(184, 9, 9);
        }
        
        #boxchat #boxchat__content {
            height: calc(100% - 45px);
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            box-shadow: 1px 1px 10px rgb(123, 122, 122), 1px 1px 10px rgb(206, 204, 204);
            font-size: 13px;
        }
        
        #boxchat__content #chat__frame {
            width: 100%;
            height: calc(100% - 45px);
            align-self: flex-start;
            overflow-y: scroll;
            word-wrap: break-word;
        }
        
        #chat__frame .chat {
            padding: 8px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            margin-bottom: 12px;
        }
        
        #chat__frame .chat>img {
            width: 30px;
            background-color: #b5bdbc;
            border-radius: 50%;
        }
        
        #chat__frame .chat .text__chat {
            padding: 8px 16px;
            margin-left: 16px;
            background-color: #b5bdbc;
            border-radius: 10px;
        }
        
        #chat__frame .option {}
        
        #chat__frame .option>p {
            cursor: pointer;
            margin: auto;
            width: 50%;
            margin-bottom: 6px;
            background-color: #b5bdbc;
            border-radius: 10px;
            padding: 8px 16px;
            text-align: center;
        }
        
        #chat__frame .option>p:hover {
            background-color: lightsteelblue;
        }
        
        #boxchat__content .mes {
            background-color: #333;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 45px;
            line-height: 45px;
            padding: 0px 6px;
        }
        
        #boxchat__content .mes input {
            display: inline-block;
            line-height: 32px;
            height: 32px;
            font-size: 13px;
            padding-left: 20px;
            width: 90%;
            border-radius: 15px;
            outline: none;
            border: none;
        }
        
        #boxchat__content .mes button {
            outline: none;
            color: white;
            border: none;
            background-color: #333;
            cursor: pointer;
        }
        
        #boxchat__content .mes button i {
            font-size: 14px;
            line-height: 35px;
            height: 35px;
        }
        /* -----------------------  MOBILE  ----------------------- */
        
        @media screen and (max-width: 550px) {
            #boxchat {
                width: 70%;
                height: 50%;
            }
        }
        
        @media screen and (max-width: 739px) {
            .section--content {
                width: 100%;
            }
            #band .band--member--list {
                display: block;
                margin: auto;
            }
            .band--member--list .member {
                width: 100%;
                margin-top: 32px;
            }
            #tour--adress--list {
                display: block;
                margin: auto;
                width: 100%;
                padding: 32px 0px;
            }
            #tour--adress--list .tour--adress {
                width: 100%;
                padding: 8px 0px;
            }
            .tour--adress button {
                width: 100%;
            }
            #contact #contact--content {
                display: block;
            }
            #contact--content #contact--form {
                margin-top: 16px;
            }
            #contact--content #contact--infor,
            #contact--content #contact--form,
            #contact--form input,
            #contact--form button {
                width: 100%;
            }
        }
        
        @media screen and (min-width: 740px) and (max-width:1023px) {
            #nav li a {
                padding: 0px 24px;
            }
        }